[gerrit]
	basePath = git
	canonicalWebUrl = http://devops.com
	serverId = c6bbe10a-b6ce-4bf6-aef3-5ccd572e6444
[database]
	type = h2
	database = db/ReviewDB
[core]
	packedGitOpenFiles = 4096
	packedGitLimit = 2g
	packedGitWindowSize = 16k
[index]
	type = LUCENE
[auth]
#	type = DEVELOPMENT_BECOME_ANY_ACCOUNT
	type = LDAP
	gitBasicAuthPolicy = HTTP
[ldap]
	server = ldap://openldap:389
	username = cn=admin,dc=devops,dc=com
	password = admin
	accountBase = dc=devops,dc=com
	groupBase = dc=devops,dc=com
	accountPattern = (&(objectClass=person)(sAMAccountName=${username}))
	groupPattern = (&(objectClass=group)(cn=${groupname}))
	localUsernameToLowerCase = true
	accountFullName = displayName
	accountSshUserName = ${sAMAccountName.toLowerCase}
	accountEmailAddress = mail
	accountMemberField = memberOf

[sendemail]
#	smtpServer = localhost
	smtpServer = krrelay.devops.com
	smtpUser = gerrit
[sshd]
	listenAddress = *:29418
[httpd]
	listenUrl = http://*:8080/
	filterClass = com.googlesource.gerrit.plugins.ootb.FirstTimeRedirect
#	firstTimeRedirectUrl = /login/%23%2F?account_id=1000000
[cache]
	directory = cache
[plugins]
	allowRemoteAdmin = true
[container]
	javaOptions = "-Dflogger.backend_factory=com.google.common.flogger.backend.log4j.Log4jBackendFactory#getInstance"
	javaOptions = "-Dflogger.logging_context=com.google.gerrit.server.logging.LoggingContext#getInstance"
	user = root
	javaHome = /usr/lib/jvm/java-11-openjdk-11.0.7.10-1.el8_1.x86_64
	javaOptions = -Djava.security.egd=file:/dev/./urandom
	javaOptions = --add-opens java.base/java.net=ALL-UNNAMED
	javaOptions = --add-opens java.base/java.lang.invoke=ALL-UNNAMED
	heapLimit = 30g
[receive]
	enableSignedPush = false
[commitlink "jira"]
	match = "([A-Z]+-[0-9]{4,})"
	link = http://jira.devops.com/browse/$1

